@import url('https://fonts.google.com/specimen/Poppins');

* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	font-size: 15px;
	font-family: poppins, sans-serif;
	background: hsl(0, 0%, 98%);
}

p {
	color: hsl(229, 6%, 66%);
}

header {
	white-space: nowrap;
}

.topContainer {
	text-align: center;
}

.topContainer h1 {
	font-size: 2rem;
	font-weight: 200;
	color: hsl(229, 6%, 66%);
}

.topContainer h2 {
	margin-top: -20px;
	font-size: 2rem;
	color: hsl(234, 12%, 34%);
}

.topContainer p {
	font-size: 1rem;
	white-space: pre-wrap;
	text-align: center;
}

.col {
	position: relative;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	margin: 18px auto;
	height: 300px;
	padding: 20px;
	width: 400px;
	box-shadow:
		0 10px 20px rgba(0, 0, 0, 0.05),
		0 6px 6px rgba(0, 0, 0, 0.1);
}

.col img {
	position: absolute;
	padding: 5px;
	right: 0;
	bottom: 0;
}

.col h3 {
	font-size: 1.3rem;
	color: hsl(234, 12%, 34%);
}

.col::after {
	content: '';
	position: absolute;
	height: 5px;
	width: 100%;
	top: 0;
	left: 0;
}

.colRed::after {
	background-color: hsl(0, 78%, 62%);
}

.colCyan::after {
	background-color: hsl(180, 62%, 55%);
}

.colOrange::after {
	background-color: hsl(34, 97%, 64%);
}

.colBlue::after {
	background-color: hsl(212, 86%, 64%);
}

@media (min-width: 48rem) {
	.boxSection {
		display: flex;
		align-items: center;
	}

	/* .rowSet {
		display: flex;
		justify-content: space-between;
	} */

	.col {
		margin: 18px;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
