@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.poppins-extralight {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: normal;
}

* {
	font-size: 15px;
}

.containerSec {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: hsl(212, 86%, 64%); */
}

.superBox,
.teamBox,
.karmaBox,
.calcBox {
	border-radius: 5px;
	box-sizing: border-box;
	background-color: grey;
	color: hsl(0, 0%, 98%);
}

.superGlass,
.karBlub,
.TbHouse2,
.calCalc {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

h1 {
	font-size: 2em;
	font-weight: 200;
}

.tech,
.cardTitle {
	font-size: 2em;
	font-weight: 700;
}

.ai,
.cardDesc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1em;
	color: hsl(229, 6%, 66%);
}

.cardTitle {
	font-size: 2em;
}

.container img {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
